* {
    lề :  0 ;
    phần đệm :  0 ;
    kích thước hộp : hộp viền;
}
cơ thể {
    họ phông chữ : 'Poppins'  , sans-serif;
}
. web_container {
    chiều rộng :  100 % ;
    chiều cao :  100 vh ;
}
. web_container . web_header {
    chiều cao :  50 px ;
    hiển thị  :  uốn cong ;
    biện minh cho nội dung :  không gian xung quanh ;
    căn chỉnh các mục :  trung tâm ;
    /* đệm: 15px; */
    lề : 10px;
}
. web_header . tiêu đề_nav {
    hiển thị  :  uốn cong ;
    khoảng cách : 20px;
}
. tiêu đề_nav  một {
    trang trí văn bản : không có;
    màu  :  # 555;
    /* đệm: 10px */
}
. header_nav  a : di chuột {
    màu sắc  :  xanh lá cây ;
    /* màu nền: #f0f0f0; */
}
. web_header . tiêu đề_hồ sơ {
    hiển thị  :  uốn cong ;
    khoảng cách : 5px;
}
. tiêu đề_hồ sơ . tiêu đề_cart {
    hiển thị  :  uốn cong ;
    biện minh cho nội dung : trung tâm ;
    căn chỉnh các mục : trung tâm ;
    khoảng cách  : 7px;
}
. tiêu đề_hồ sơ . tiêu đề_myprofile {
    chiều rộng :  30px ;
    chiều cao :  30 px ;
    đường viền  : 1px đặc  # 555;
    bán kính đường viền : 50%;
    lề trái : 15px;
}
. header_myprofile . người sử dụng {
    hiển thị  :  uốn cong ;
    biện minh cho nội dung :  trung tâm ;
    căn chỉnh các mục :  trung tâm ;
    phần đệm  : 5px
}
. tiêu đề_hồ sơ . pro_search {
   hiển thị  :  uốn cong ;
}
. web_header . tiêu đề_hồ sơ {
    hiển thị  : uốn cong ;
}
. tiêu đề_adds  img {
    chiều rộng :  100 % ;
    vị trí : họ hàng;
}
. tiêu đề_thêm . thêm_title {
    vị trí : tuyệt đối;
    chỉ số z :  1 ;
    phần đệm  : 100px;
}
. add_title  h1 {
    cỡ chữ :  3,5 em ;
}
. đầu vào pro_search  {
    phác thảo : không có;
    biên giới : không có;
    bóng hộp :  0  1 px  5 px  # 555 ;
    chiều rộng :  250 px ;
    bán kính đường viền :  5 px ;
    /* đường viền : 1px solid #555; */
    phần đệm  : 5px;
}
. đầu vào pro_search  :: giữ chỗ {
    độ mờ  : 0,5;
    khoảng cách giữa các chữ cái : 0,2em;
}
. pro_search . kính lúp {
    vị trí  :  họ hàng ;
    trái  : -30px;
    cỡ chữ : 17px;
    phần đệm  : 5px;
    màu  :  # 555;
}
. nội dung_nav {
    lề trên :  20 px ;
    hiển thị  :  uốn cong ;
    biện minh cho nội dung :  không gian xung quanh ;
}
. nội dung_nav . điều hướng {
    hiển thị  :  uốn cong ;
    chiều rộng : 700px;
}
. điều hướng  một {
    trang trí văn bản : không có;
    phần đệm  : 10px;
    màu sắc  :  xanh lá cây ;
    cỡ chữ : 1.2em;
    trọng lượng phông chữ : 400;
    bán kính đường viền : 5px;
    chiều rộng  : 33,33%;
    căn chỉnh văn bản :  trung tâm ;
}
. nav_choice  a : di chuột {
    màu sắc  :  # fff ;
    màu nền :  xanh lá cây ;
}
. search_nav {
    hiển thị  :  uốn cong ;
    khoảng cách : 20px;
    vị trí :  họ hàng ;
}
. hộp tìm kiếm {
    hiển thị  :  uốn cong ;
    vị trí :  họ hàng ;
    căn chỉnh các mục :  trung tâm ;
}
. nhập_hộp tìm kiếm  {
    phác thảo : không có;
    biên giới  :  không có ;
    chiều rộng : 250px;
    viền dưới  : 1px solid  # 555;
    phần đệm : 14px;
}
. đầu vào hộp tìm kiếm  :: giữ chỗ {
    độ mờ  : 0,5;
    cỡ chữ : 17px;
    phần đệm bên trái : 10px;
    khoảng cách giữa các chữ cái : 0,1em;
}
. hộp tìm kiếm . kính lúp {
    vị trí  :  tuyệt đối ;
    hàng đầu : 50%;
    cỡ chữ : 17px;
    màu  :  # 555;
    biến đổi :   translateY ( -50 % );
    /* padding-right: 10px; */
}

. search_nav . điều hướng {
    hiển thị : uốn cong;
    căn chỉnh các mục : trung tâm;
    biện minh cho nội dung : trung tâm;
}
. nút điều hướng  {
    phác thảo  :  không có ;
    phần đệm  : 10px;
    cỡ chữ : 17px;
    bán kính đường viền : 4px;
    biên giới :  không có ;
    màu  :  # 555;
    trọng lượng phông chữ :  đậm ;
}
. điều hướng_sắp xếp . fa-mũi tên xuống-rộng-ngắn {
    màu  :  # 555;
    độ mờ  : 0,7;
    cỡ chữ : 20px;
    phần đệm  : 0 10px;
}
. nút điều hướng  : di chuột {
    độ mờ  : 0,8;
}
. list_products {
    hiển thị : lưới;
    grid-template-columns :  lặp lại ( 4  ,  22 % );
    lề trên :  40 px ;
    biện minh cho nội dung : trung tâm;
    lề trái  : 20px;
    khoảng cách hàng : 50px;
}
. sản phẩm_1  , 
. sản phẩm_2  ,
. sản phẩm_3 ,
. sản phẩm_4 ,
. sản phẩm_5 ,
. sản phẩm_6 ,
. sản phẩm_7 ,
. sản phẩm_8 ,
. sản phẩm_9 ,
. sản phẩm_10 ,
. sản phẩm_11 ,
. sản phẩm_12 {
   vị trí : họ hàng;
}
. sản phẩm_1  h4  ,
. sản phẩm_2  h4 ,
. sản phẩm_3  h4 ,
. sản phẩm_4  h4 ,
. sản phẩm_5  h4 ,
. sản phẩm_6  h4 ,
. sản phẩm_7  h4 ,
. sản phẩm_8  h4 ,
. sản phẩm_9  h4 ,
. sản phẩm_10  h4 ,
. sản phẩm_11  h4 ,
. sản phẩm_12  h4 {
    vị trí : tuyệt đối;
    hàng đầu :  0 ;
    phần đệm :  5 px ;
    màu  :  rgb ( 122 ,  29 ,  29 );
    màu nền :  cam ;
    bán kính đường viền : 40px;
    lề  : 10px;
}
. sản phẩm_cart {
    hiển thị  :  uốn cong ;
    căn chỉnh các mục :  trung tâm ;
    khoảng cách  : 120px;
}
. giá_ưu đãi {
    hiển thị  :  uốn cong ;
}
. khoảng giá_pros  {
    cỡ chữ :  2 em ;
    trọng lượng phông chữ :  700 ;
}
. giá_pros  h5 {
    màu  :  # 969393;
    cỡ chữ : 16px;
    trọng lượng phông chữ : 400;
    hiển thị :  uốn cong ;
    căn chỉnh các mục :  trung tâm ;
    lề trái : 10px;
}
. sản phẩm_cart . giỏ hàng_icon {
    chiều rộng :  30px ;
    chiều cao :  30 px ;
    bán kính đường viền :  50 % ;
    đường viền  : 1px màu xanh lá cây  ;
    căn chỉnh các mục :  trung tâm ;
    biện minh cho nội dung :  trung tâm ;
    hiển thị :  uốn cong ;
}
. giỏ hàng_icon . fa-cart-plus {
    màu sắc  :  xanh lá cây ;
}
. đếm_sản phẩm {
    hiển thị : uốn cong;
    căn chỉnh các mục : trung tâm;
    biện minh cho nội dung : trung tâm;
    lề :  80 px ;
}
. khoảng thời gian đếm_sản phẩm  {
    màu sắc : xanh lá cây;
    chiều rộng :  100 px ;
    căn chỉnh các mục : trung tâm;
    hiển thị : uốn cong;
    biện minh cho nội dung : trung tâm;
    phần đệm :  5 px ;
    chuyển tiếp :  0,1 giây ;
    bán kính đường viền :  3 px ;
}
. count_product  span : hover : not ( : con đầu lòng ) : not ( : con cuối cùng ){
    màu nền :  # f0f0f0 ;
}
. web_footer {
    hiển thị  :  uốn cong ;
    chiều rộng : 100%;
    chiều cao : 300px;
    màu nền :  # 333;
    biện minh cho nội dung :  không gian xung quanh ;
    màu sắc :  # fff;
}
. thông tin chân trang {
    hiển thị : uốn cong;
    lề trên  : 50px;
    khoảng cách  : 70px;
}

ul {
    vị trí : họ hàng;
    lề trên :  20 px ;
}
ul  li {
    vị trí  :  họ hàng ;
    kiểu danh sách :  không có ;
    lề trên  : 5px;
}
ul  li  một {
    màu sắc  :  # fff ;
    trang trí văn bản :  không có ;
    trọng lượng phông chữ : 100;
}
. infor_about  chọn {
    phần đệm  : 8px;
    chiều rộng : 130px;
    màu nền :  # 333;
    màu sắc  :  # fff ;
    bán kính đường viền : 3px;
    đường viền trên cùng : 1px solid  # fff ;
    đường viền bên phải : 1px solid  # fff ;
    bóng hộp : 0 2px 5px # 555;
    phác thảo  :  không có ;
}
. thông tin liên hệ  với {
    trọng lượng phông chữ :  600 ;
}
. footer_subs {
    lề trên :  50 px ;
}
. footer_subs  đầu vào {
    phác thảo  :  không có ;
    chiều rộng : 270px;
    phần đệm  : 10px;
    bán kính đường viền : 5px;
    đường viền : 1px đặc  # fff ;
    màu nền :  # 333;
    lề trên  : 10px;
}
. footer_subs  đầu vào :: placeholder {
    màu sắc :  # fff ;
    độ mờ :  0,8 ;
}
. đầu vào footer_subs  : tiêu điểm {
    màu sắc  :  # fff ;
}
. nút subs_promos  {
    biên giới : không có;
    phần đệm  : 10px;
    bán kính đường viền : 5px;
    màu sắc  :  # fff ;
    màu nền :  rgb ( 65 ,  151 ,  65 );
    trọng lượng phông chữ : 700;
}
. nút subs_promos  : hover {
    màu nền :  rgb ( 65 ,  190 ,  65 );
}
. sub_xã hội {
    hiển thị : uốn cong;
    lề trên :  20 px ;
    khoảng cách  : 10px;
}
. sub_social  tôi {
    cỡ chữ :  20 px ;
}
. sub_xã hội . fa-twitter {
    màu  :  rgb ( 28 ,  211 ,  224 );
}
. sub_xã hội . fa-facebook {
    màu sắc  :  xanh dương ;
}
. sub_xã hội . fa-linkedin {
    màu  :  rgb ( 62 ,  152 ,  230 );
}
. sub_xã hội . fa-youtube {
    màu sắc  :  đỏ ;
}
. thương hiệu phụ {
    hiển thị  :  uốn cong ;
    biện minh cho nội dung :  hàng ;
   
}
. subs_brand  ul {
    hiển thị  :  uốn cong ;
    khoảng cách  : 30px;
}
. subs_brand  ul  li {
    cỡ chữ :  12 px ;
    độ mờ :  0,7 ;
}
. subs_brand  ul  li : not ( : con đầu lòng ){
    kiểu danh sách : đĩa;
}
. footer_email {
    vị trí : họ hàng;
}
. footer_email . phong bì {
    vị trí  :  tuyệt đối ;
    hàng đầu : 50%;
    cỡ chữ : 18px;
    màu  :  # 555;
    biến đổi :   translateY ( -50 % );
    phần đệm : 0 15px;
    màu sắc  :  # fff ;
    hiển thị :  uốn cong ;
    căn chỉnh các mục  :  trung tâm ;
    biện minh cho nội dung  :  trung tâm ;
}
. pro_search {
    vị trí  :  họ hàng ;
}
. pro_search . tìm kiếm {
    chiều rộng :  300px ;
    lề phải :  10 px ;
}
. pro_search . kính lúp {
    vị trí  :  tuyệt đối ;
    hàng đầu : 50%;
    cỡ chữ : 18px;
    màu  :  # 555;
    biến đổi :   translateY ( -50 % );
    phần đệm : 0 15px;
    màu  :  # 555;
    hiển thị :  uốn cong ;
    căn chỉnh các mục  :  trung tâm ;
    biện minh cho nội dung  :  trung tâm ;
    trái : -5px
}